body {
  background: #24272e
}
.App {
  display: block;
  background-color: #24272e;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.board {
  display: block;
}

.mini-board {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 400px;
}

.choice-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 210px;
  height: 210px;
  margin: 25px;
  font-size: 3em;
  padding: 0 40px;
  color: white;
  font-weight: 300;
  text-align: center;
  border-radius: 20px;
  border: 5px solid white;
  background-color: #24272e;
  justify-content: space-around;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.btn {
  width: 100px;
  border: 5px solid white;
}


h1 {
  font-size: 2rem;
  color: white;
}

.winner {
  color: green;
  border: 5px solid green;
}

.loser {
  color: red;
  border: 5px solid red;
}

.history {
  color: white;
  text-align: center;
  height: 500px;
  border: 2px solid white;
  margin-bottom: 50px;
}

button {
  margin: 15px;
}

ul {
  list-style: none;
}