@import url('https://fonts.googleapis.com/css?family=Asap:400,500,600,700&display=swap');
body {
  background: #24272e;
  font-family: 'Asap', sans-serif;
  padding: 0;
  margin: 0;
}

.App {
  display: block;
  background-color: #24272e;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.container {
  max-width: 540px;
  padding: 0;
}

.title {
  background-color: white;
  color: black;
  margin: 0;
  font-size: 50px;
  text-align: center;
  font-weight: 700;
}

.board {
  display: block;
  padding: 0;
}

.mini-board {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 50%;
  text-align: center;
}

.choice-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 250px;
  height: 250px;
  margin-top: 25px;
  font-size: 2rem;
  color: white;
  text-align: center;
  border-radius: 20px;
  border: 5px solid white;
  background-color: #24272e;
  justify-content: space-around;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.btn-item {
  justify-content: center;
}
.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
}
.btn {
  width: 100px;
  border: 5px solid white;
}


h1 {
  font-size: 2rem;
  color: white;
  font-weight: bold;
  margin-top: 25px;
}

h3 {
  font-weight: 700;
  padding: 10px;
}

.winner {
  color: green;
  border: 5px solid green;
}

.loser {
  color: red;
  border: 5px solid red;
}

.history {
  color: white;
  text-align: center;
  height: 500px;
  border: 5px solid white;
  margin-bottom: 50px;
  border-radius: 20px;
}

button {
  margin: 15px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}